.DS_Store
*~
SuiteSparse_?PUcompilation.txt

wiki/

### Xcode ###
## User settings
xcuserdata/

## Gcc Patch
/*.gcno

### Xcode Patch ###
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings

brownian.log
brownian_lowPe.log
knkt_det.log
repulsive_rate.log
repulsive_stress.log
pyLF_DEM
pyLF_DEM_toolbox
build
Makefile_config.mk
__pycache__
SuiteSparse_config_Romain_MathUCam.mk
