.DS_Store
*~

wiki/

# Xcode
xcuserdata
*.xcuserstate
**/*.xcodeproj/*
!**/*.xcodeproj/project.pbxproj
!*.xcodeproj/default.*
!**/*.xcodeproj/default.*
*.xcworkspace/*
!*.xcworkspace/contents.xcworkspacedata


Makefile_config.mk
__pycache__
build/

pyLF_DEM/Makefile.in
pyLF_DEM/*.so
pyLF_DEM/pyLFDEM.py
pyLF_DEM/pyLFDEM_wrap.cxx