# data files
*.dat
*.yap

# emacs temp
*~
\#*\#

# other backups
*.bak

# python/cython byproducts
./python/*.pyc

# cython compilation files
./python/cython/*.c

# binary
LF_DEM

# object files
*.o

# tests
./test*

#subdirectories
LF_DEM.dSYM/
LF_DEM.dtps/
sandbox/
auto/

# version file
VersionInfo.h

# archives
*.gz
*.tgz
*.bz2
*.tz2


# text files
*.txt

# local make inputs
config/Makefile_config.mk

# temporary file
.nfs*
gmon.out
LF_DEM_*
.vscode
