# data files
*.dat
*.yap

# emacs backups
*~

# other backups
*.bak

# python/cython byproducts
./python/*.pyc

# cython compilation files
./python/cython/*.c

# binary
LF_DEM

# pdf's
./*.pdf

# tests
./test*

# local bash scripts
*.sh

# text files
*.txt

#subdirectories
LF_DEM*/

# archives
*.gz
*.tgz
*.bz2
*.tz2