# data files
*.dat
*.yap

# emacs backups
*~

# other backups
*.bak

# python/cython byproducts
./python/*.pyc

# cython compilation files
./python/cython/*.c

# binary
LF_DEM

# object files
*.o

# pdf's
./*.pdf

# tests
./test*

# local bash scripts
*.sh

#subdirectories
LF_DEM.dSYM/
LF_DEM.dtps/

# archives
*.gz
*.tgz
*.bz2
*.tz2
