<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CalcOrderParameter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>LF_DEM.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>analyze_data_LF_DEM.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>cluster_detector.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>cluster_life.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>percolation_LF_DEM.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D921A0BD175BF90D002F64B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D9532ADE1B9412FC0014831F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D96731B017A042AD005D02F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D988E388165441750009949F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D9953511180713FB00FC99C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D9BE3B62178C838100937C5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
